.Weather {
  border: 2px solid #246fd2;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  border-radius: 20px;
  margin-top: 100px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0px 0px 10px;
  color: #246fd2;
}
.Weather ul {
  margin: 10px;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  height: 64px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1000px;
  width: 64px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 52px;
  margin-left: 5px;
  line-height: 64px;
  font-weight: 400;
  position: relative;
  top: 1px;
  color: rgb(33, 33, 33);
  color: #246fd2;
}
.Weather canvas {
  display: inline-block;
  margin-top: 5px;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  position: relative;
  line-height: 1;
  top: -30px;
}
